---
tenants:
  MY_FABRIC:
    vrfs:
      default:
        svis:
          10:
            name: 'Ten'
            tags: [ "10" ]
            enabled: true
            ip_virtual_router_addresses:
              - 10.10.10.1
            nodes:
              s1-spine1:
                ip_address: 10.10.10.2/24
              s1-spine2:
                ip_address: 10.10.10.3/24
          20:
            name: 'Twenty'
            tags: [ "20" ]
            enabled: true
            ip_virtual_router_addresses:
              - 10.20.20.1
            nodes:
              s1-spine1:
                ip_address: 10.20.20.2/24
              s1-spine2:
                ip_address: 10.20.20.3/24
