MarkupSafe
material
md-toc
mdx_truly_sane_lists
mkdocs
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-include-dir-to-nav
mkdocs-material-extensions
mkdocs-pymdownx-material-extras
pre-commit
