ansible-core>=2.11.3,<2.13.0,!=2.12.0,!=2.12.1,!=2.12.2,!=2.12.3,!=2.12.4,!=2.12.5
ansible-lint<6.0.0
asgiref
black==22.8.0
certifi
cffi
chardet
click
colorama
cryptography
cvprac
docker
flake8
galaxy-importer>=0.3.1
identify>=1.4.20
idna
importlib-resources
isort==5.10.1
jsonschema
Jinja2
MarkupSafe
material
md-toc
mdx_truly_sane_lists
mkdocs
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-include-dir-to-nav
mkdocs-material-extensions
mkdocs-pymdownx-material-extras
molecule>=3.2.0,<3.5.0
molecule-docker>=0.2.4
natsort
netaddr
packaging
paramiko
netmiko
pre-commit>=2.9.2
pre-commit-hooks>=3.3.0
psutil
pycodestyle
pycparser
pylint>=2.4.4
pynetbox
pyparsing
pytz
PyYAML
requests
six
sqlparse
treelib
twine
urllib3
yamllint
zipp
